{% extends 'base/base.html' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-12 offset-xl-2 col-xl-8 text-center">
            <h1 class="h1"><a href="/" class="h1">Klara-Oppenheimer-Schule</a></h1>
            <h2 class="h2">Klaraktiv</h2>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 offset-md-3 col-md-6 offset-xl-4 col-xl-4">
            <div class="row">
                <div class="col-12">
                    <h5 class="h5">
                        Allgemeine Informationen:
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                    Hallo lieber Schüler,
                </p>
                <p>
                    du befindest dich nun auf deiner speziellen Seite. Hier findest du verschiedene Statistiken, welche dich im Verhältnis zu anderen
                    Schülern stellen. Außerdem kannst du dir hier jederzeit deine aktuelle Punktzahl ansehen.
                </p>
                <p>
                    Wenn du wieder zurück auf die Startseite
                    gelangen möchtest, klicke einfach auf die Überschrift <strong>&gt;&gt;Klara-Oppenheimer-Schule&lt;&lt;</strong>
                </p>
                <p>
                    Viel Spaß und viel Erfolg.
                </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 text-center">
            <h3 class="h3">Statistiken</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-xl-2 col-xl-4 mb-5">
            <h5 class="h5 text-center">Verhältnis zu Top3 Schüler - Global</h5>
            <canvas id="myChart">
                <script src="{{ url_for('static', filename='js/barchart-student.js') }}"></script>
            </canvas>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mb-5">
            <h5 class="h5 text-center">Verhältnis zu Top3 Schüler - Klasse</h5>
            <canvas id="chartxy">
                <script src="{{ url_for('static', filename='js/barchart3-student.js') }}"></script>
            </canvas>
        </div>
    </div>
{% endblock %}