{% extends 'base/base.html' %}

{% block content %}

<div align="center">

    <div class="card shadow" style="max-width: 32rem; margin-top: 8em" >


        <div class="card-header">
            <div>
                <div class='verified'>
                    <div class='inner'>
                        <p>
                            {{ station_emoji }}
                            <span>{{ station_title }}</span>
                         </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">



            <dl class="row">
                <dt class="col-sm-3"align="left">Punkte:</dt>
                <dd class="col-sm-9"align="left">{{ station_points }}</dd>

                <dt class="col-sm-3"align="left">Ort:</dt>
                <dd class="col-sm-9"align="left">{{ station_location }}</dd>

                <dt class="col-sm-3"align="left">Beschreibung:</dt>
                <dd class="col-sm-9"align="left">{{ station_description }}</dd>
            </dl>

            <div class="input-group mb-3" style="margin-top: 2em">
                <div class="input-group-prepend">
                    <span class="input-group-text">Schülernummer</span>
                </div>
                <input type="text" name=""  class="form-control" placeholder="z.B. 1234" aria-label="station" aria-describedby="basic-addon1">
            </div>

            <div align="right">
                <button type="button" name="button" class="btn btn-outline-primary">Punkte Vergeben</button>
            </div>

        </div>
    </div>

</div>

{% endblock %}