{% extends 'base/base.html' %}

{% block content %}

<div align="center">

    <div class="card shadow" style="max-width: 32rem; margin-top: 8em" >
        <div class="card-header">
            <div class="row mb-2">
                <div class="col-12 text-center"><i class="far fa-3x text-success fa-check-circle"></i></div>
            </div>
            <div class="row">
                <div class="col-12 text-center">{{ station['stationname'] }}</div>
            </div>
        </div>

        <div class="card-body">
            <dl class="row text-left">
                <dt class="col-sm-4">Punkte:</dt>
                <dd class="col-sm-8">{{ station['points'] }}</dd>

                <dt class="col-sm-4">Ort:</dt>
                <dd class="col-sm-8">{{ station['area'] }}</dd>

                <dt class="col-sm-4">Beschreibung:</dt>
                <dd class="col-sm-8">{{ station['description'] }}</dd>
            </dl>

            <form action="/station" method="post">
                <div class="input-group mb-3" style="margin-top: 2em">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Schülernummer</span>
                    </div>
                    <input type="text" name="student" class="form-control" placeholder="z.B. 1234" aria-label="station" aria-describedby="basic-addon1">
                </div>
                <div align="right">
                    <button type="submit" name="button" class="btn btn-outline-primary">Punkte Vergeben</button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}