{% extends 'base/base.html' %}

{% block content %}

<h1 style="width: 32rem; min-width: 28rem; margin-top: 2em; margin-bottom: 1em; margin-left: 10em">Stationen Verwalten</h1>

{% for station in stationen %}
<!-- <div style="position: absolute; left: 10%; margin-left: 225px; width: 650px; height: 250px; background: blue; border: 8px solid black"> content -->
<div class="accordion" id="accordion{{ station }}" style="width: 32rem; min-width: 28rem; margin-left: 27em">
    <div class="card">
      <div class="card-header" id="heading{{ station }}">
        <h5 class="mb-0">
          <button class="btn btn-link text-primary" type="button" data-toggle="collapse" data-target="#collapse{{ station }}" aria-expanded="true" aria-controls="collapse{{ station }}">
            {{ station.stationname }}
          </button>
        </h5>
      </div>

      <div id="collapse{{ station }}" class="collapse" aria-labelledby="heading{{ station }}" data-parent="#accordion{{ station }}">
        <div class="card-body">
          <form>
            <div class="container">
              <div class="form-group row justify-content-end">
                <div class="col">
                <label for="inputEmail4">Stationsname</label>
                <input type="text" class="form-control" id="inputEmail4" placeholder="Stationsname">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-group row justify-content-end">
                <div class="col">
                <label for="inputPassword4">Punkte</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="3">
                </div>
              </div>
            </div>

            <div class="container">
              <div class="form-group row justify-content-end">
                <div class="col">
                  <label for="inputAddress">Ort</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="S.Oliver Arena">
                </div>
              </div>
            </div>

            <div class="container">
              <div class="form-group row justify-content-end">
                <div class="col">
                  <label for="inputAddress2">Beschreibung</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Nur mit Hallenschuhe">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="form-group row justify-content-end">
                <div class="col">
                <label for="inputCity">PIN</label>
                <input type="text" class="form-control" id="inputCity" placeholder="1234">
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-sm">
              <button type="submit" class="btn btn-outline-primary">Bearbeiten</button>
                </div>
                <div class="col-sm">
              <button type="submit" class="btn btn-outline-danger">Löschen</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

 <div class="container" style="width: 32rem; min-width: 28rem; margin-top: 2em; margin-left: 35em">
   <div class="row">
     <div class="col-sm">
       <a href="/dashboard/station/hinzufuegen"><button type="submit" class="btn btn-outline-primary w-50 button draw meet">Neu</button></a>
     </div>
   </div>
 </div>



{% endblock %}