<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
  <script src="/static/js/main.js"></script>
 <!-- C:/Developer/Sports Day/application/implementation -->
    <meta name="pdfkit-orientation" content="Landscape"/>
</head>

<style>


.table td, .table th{
border-top: 0px
}
</style>
<body>





<table class="table" style="border-top: 0px; margin-bottom: 0px">
  <tbody>

      <tr class="table table-borderless">
        <td class="table table-borderless text-center" scope="col" style="width: 30%"><b>Klara Oppenheimer Schule - Sporttag 2019</b> </td>
        <td class="table table-borderless text-center" scope="col" style="width: 5%">|</td>
        <td class="table table-borderless text-center" scope="col" style="width: 30%"><b>Klara Oppenheimer Schule - Sporttag 2019</b></td>
        <td class="table table-borderless text-center" scope="col" style="width: 5%">|</td>
        <td class="table table-borderless text-center" scope="col" style="width: 30%"><b>Klara Oppenheimer Schule - Sporttag 2019</b></td>


    <tr>
      <td>


        <table class="table table-bordered">

  <tbody>

    <tr>
      <th style="width: 50%" scope="col">Nummer: 1234<br>Klasse: 12FI4</th>
      <th class="text-center" style="width: 50%; padding: 0px" scope="col"><img src="C:/Developer/Sports Day/application/implementation/static/image/qrcode/test3.png" style="width: 84px; height: 84px"></th>
    </tr>

   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


    <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

       <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

       <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


       <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


       <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


       <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


       <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>








  </tbody>
</table>
      </td>

        <td class="text-center" scope="col">

          |<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>
          |<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|


        </td>



      <td>


       <table class="table table-bordered">

  <tbody>

    <tr>
      <th style="width: 50%" scope="col">Nummer: 1234<br>Klasse: 12FI4</th>
      <th class="text-center" style="width: 50%; padding: 0px" scope="col"><img src="C:/Developer/Sports Day/application/implementation/static/image/qrcode/test3.png" style="width: 84px; height: 84px"></th>
    </tr>

   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 120px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


  </tbody>
</table>


      </td>

                <td class="text-center" scope="col">

          |<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>
          |<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|


        </td>


              <td>


       <table class="table table-bordered">

  <tbody>

      <tr>
      <th style="width: 50%" scope="col">Nummer: 1234<br>Klasse: 12FI4</th>
      <th class="text-center" style="width: 50%; padding: 0px" scope="col"><img src="C:/Developer/Sports Day/application/implementation/static/image/qrcode/test3.png" style="width: 84px; height: 84px"></th>
    </tr>

   <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>


   <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

   <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     <tr style="height: 100px">
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6
      </td>
      <td>
        <b>Station: Fussball</b>
        <br>
        Ort: TGW Halle
        <br>
        Punkte: 6</td>
    </tr>

     {% block content %}{% endblock %}



  </tbody>
</table>


      </td>
    </tr>
  </tbody>
</table>

</body>
</html>