{% extends 'pdf/pdf.html' %}

{% block content %}


<tr style="height: 100px">
    <td>
        <b>{{ station_name1 }}</b>
        <br>
        Ort: {{ station_location1 }}
        <br>
        Punkte: {{ station_points1 }}
    </td>
    <td>
        <b>{{ station_name2 }}</b>
        <br>
        Ort: {{ statoin_loation2 }}
        <br>
        Punkte: {{ station_points2 }}
    </td>
</tr>

{% for starion for stations %}

<tr style="height: 100px">
    <td>
        <b>{{ station.name }}</b>
        <br>
        Ort: {{ station.location }}
        <br>
        Punkte: {{ station.points }}
    </td>
    <td>
        <b>{{ station.name }}</b>
        <br>
        Ort: {{ station.location }}
        <br>
        Punkte: {{ station.points }}
    </td>
</tr>

{% endfor %}

{% endblock %}