{% extends 'base/base.html' %}

{% block content %}
    <div class="row mb-4">
        <div class="col-12 offset-xl-2 col-xl-8 text-center">
            <h1 class="h1">Klara-Oppenheimer-Schule</h1>
            <h2 class="h2">Klaraktiv</h2>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 offset-md-3 col-md-6 offset-xl-4 col-xl-4">
            <div class="row">
                <div class="col-12">
                    <h5 class="h5">
                        Allgemeine Informationen:
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>
                    Hallo lieber Schüler,
                </p>
                <p>
                    hier auf dem Klaraktiv-Portal kannst du dir aktuelle Statistiken des Events ansehen.
                    Aktuell befindest du dich auf der Startseite, hier werden Statistiken zu den Top 3 Klassen, Top 3 Schülern angezeigt.
                    Sollten dich deine eigenen Punkte interessieren und wie du im Vergleich zu anderen stehst, gib bitte deine Nummer in das nachfolgende
                    Suchfeld ein.
                </p>
                <p>
                    Viel Spaß und viel Erfolg.
                </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 text-center">
            <h3 class="h3">Statistiken</h3>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
            <form action="/user/search" method="post">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="">Schülernummer</span>
                  </div>
                  <input type="text" class="form-control" name="student_number" placeholder="" aria-label="" aria-describedby="button-search">
                  <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="submit">Los!</button>
                  </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-xl-2 col-xl-4 mb-4">
            <h5 class="h5 text-center">Top3 Klassen</h5>
            <canvas id="myChart">
                <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
            </canvas>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mb-4">
            <h5 class="h5 text-center">Top3 Schüler</h5>
            <canvas id="chartxy">
                <script src="{{ url_for('static', filename='js/barchart3.js') }}"></script>
            </canvas>
        </div>
    </div>
{% endblock %}