{% extends 'base/base.html' %}

{% block content %}
<div class="row">
    <div class="offset-3 col-6 offset-lg-4 col-lg-4">
        <div class="">
            {% if fehler == True %}
            <div id="alert" class="alert alert-danger" role="alert">
                Die Anmeldedaten waren nicht korrekt, bitte geben Sie diese erneut ein
            </div>
            {% endif %}
        </div>
        <div class="card shadow mt-3 mb-5 bg-white rounded" align="center">
            <div class="card-header">
                <div class="heading">
                    <h1>Sporttag</h1>
                    <h3>Klara-Oppenheimer-Schule</h3>
                </div>
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="input-group mb-3 w-75">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Station</span>
                        </div>
                        <input type="text" name="login-username" class="form-control" placeholder="z.B. 1234"
                               aria-label="station" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3 w-75">
                        <div class="input-group-prepend">
                            <span class="input-group-text pr-4 pl-4">PIN</span>
                        </div>
                        <input type="password" name="login-password" class="form-control" placeholder="****"
                               aria-label="pin" aria-describedby="basic-addon1">
                    </div>

                    <button type="submit" name="button" class="btn btn-outline-primary w-75 button draw meet">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}