<!DOCTYPE html>
<html lang="en">
<head>
    {% set bootstrap_min_path =  path  +  '/static/css/bootstrap/bootstrap.min.css'  %}
    {% set bootstrap_path =  path +  '/static/css/bootstrap/main.css'  %}
    {% set bootstrap_js_path =  path  +  '/static/js/bootstrap/main.js'  %}
    <link href="{{bootstrap_min_path}}" rel="stylesheet">
    <link href="{{bootstrap_path}}" rel="stylesheet">
    <script src="{{bootstrap_js_path}}"></script>
    <!-- C:/Developer/Sports Day/application/implementation -->
    <meta name="pdfkit-orientation" content="Landscape"/>
</head>

<style>
    .table td, .table th{
    border-top: 0px
    }
</style>

<body>


    {% for paper in students_table %}


    <table class="table" style="border-top: 0px; margin-bottom: 50px">
        <tbody>
            <tr class="table table-borderless">
                <td class="table table-borderless text-center" scope="col" style="width: 30%"><b>Klara Oppenheimer Schule - Klaraktiv {{ year }}</b> </td>
                <td class="table table-borderless text-center" scope="col" style="width: 5%">|</td>
                <td class="table table-borderless text-center" scope="col" style="width: 30%"><b>Klara Oppenheimer Schule - Klaraktiv {{ year }}</b></td>
                <td class="table table-borderless text-center" scope="col" style="width: 5%">|</td>
                <td class="table table-borderless text-center" scope="col" style="width: 30%"><b>Klara Oppenheimer Schule - Klaraktiv {{ year }}</b></td>

                <tr>


                    {% for student in paper %}

                    {% set student_number %}{{ student.number }}{% endset %}
                    {% set image_path =  image_path  +  student_number  +  image_format  %}

                    <td>
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <th style="width: 50%" scope="col">Nummer: {{ student.number }}<br>Klasse: {{ student.class }}</th>
                                    <th class="text-center" style="width: 50%; padding: 0px" scope="col"><img src="{{ image_path }}" style="width: 84px; height: 84px"></th>
                                </tr>

                                {% for row in station_table %}
                                    <tr style="height: 100px">

                                        {% for cell in row %}
                                            <td>

                                                {% if cell.stationname %}
                                                    <b>{{cell.stationname}}</b>
                                                    <br>
                                                    Ort: {{cell.area}}
                                                    <br>
                                                    Punkte: {{cell.points}}
                                                {% endif %}

                                            </td>
                                        {% endfor %}

                                     </tr>
                                {% endfor %}

                             </tbody>
                        </table>
                    </td>

                {% if not loop.last %}
                <td class="text-center" scope="col">
                    |<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>
                    |<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|<br><br>|
                </td>
                {% endif %}

    {% endfor %}

  </tbody>
</table>

      </td>
    </tr>
  </tbody>
</table>



{% endfor %}

      </td>
    </tr>
  </tbody>
</table>


</body>
</html>