{% extends 'base/base.html' %}

{% block nav %}
    {% include 'base/nav/adminnav.html' %}
{% endblock %}

{% block content %}
    <div class="row mt-3 mb-3">
        <div class="offset-4 col-4 text-center">
            <div class="row">
                <div class="col-12">
                    <p>
                        Sind Sie sicher, dass Sie die Laufzettel generieren möchten?
                    </p>
                    <p>
                        Der Vorgang zum Generieren der Laufzettel wird einige Zeit in Anspruch nehmen.
                    </p>
                </div>
            </div>
            <form action="/dashboard/laufzettel/generieren" method="post">
                <button type="submit" class="btn btn-outline-primary">Laufzettel generieren</button>
            </form>
        </div>
    </div>
{% endblock %}