body, html
{

}

h1, h2, h3, h4, h5, h6 {
   color: #27ae60;
}

h1 {
   font-size: 3rem;
}

h3 {
   font-size: 1.5rem;
}


.btn-outline-primary
{
border: 1px solid #27ae60!important;
color: #27ae60!important;
}

.btn-outline-primary:hover, .btn-outline-primary:active
{
    border: 1px solid #27ae60!important;
    background-color: #27ae60!important;
    color: white!important;
}

.content
{
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

button .button {
   transition: border 1s ease-in-out 0;
}

.card-header {
   background-color: rgba(0,0,0,.06)!important;
}

.card-body {
   background-color: rgba(0,0,0,.03)!important;
}

input {
   background-color: transparent!important;
}

input[type="text"]:active,
input[type="password"]:active,
input[type="dropdown"]:active,
input[type="checkbox"]:active,
input[type="radio"]:active,
button[type="submit"]:active,
button[type="button"]:active,
button[type="reset"]:active
{
   border-color: #27ae60!important;
   box-shadow: 0 0 15px #27ae60;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="dropdown"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus
{
   border-color: #27ae60!important;
   box-shadow: 0 0 15px #27ae60;
}

.stamp{
  height:100px;
  width:100px;
  left:200px;
  top:20px;
  border-radius:5px;
  position:relative;
  background-color:#ef8080;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-delay:2.5s;
  -webkit-animation-delay:2.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 0;
  -webkit-animation-fill-mode:forwards;
   animation-fill-mode:forwards;
}

@-webkit-keyframes pulse{
  0%{
    opacity: 0;
  }
  10%{
    opacity:.50;
    transform-origin: 50% 50%;
    transform: rotate(-2deg) scale(5);
    transition: all .3s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }
  100%{
    opacity:1;
    transform: rotate(-15deg) scale(1);
  }
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(http://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh50XSwiPHA.ttf) format('truetype');
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body .verified {
  display: inline-block;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  background: #fff;
  width: 200px;
  height: 200px;
  position: relative;
  border: #2ecc71 2px dashed;
  left: 0;
}
body .verified .inner {
  display: inline-block;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
  background: #fff;
  background-image: 8121991;
  background-image: -webkit-radial-gradient(center center, #fff 0%, #e6f9ee 100%);
  background-image: -moz-radial-gradient(center center, #fff 0%, #e6f9ee 100%);
  background-image: -o-radial-gradient(center center, #fff 0%, #e6f9ee 100%);
  background-image: radial-gradient(center center, #fff 0%, #e6f9ee 100%);
  width: 185px;
  height: 185px;
  position: absolute;
  border: #e6f9ee 1px solid;
  left: 5px;
  top: 5px;
}
body .verified .inner p {
  font-size: 100px;
  font-family: Lato, helvetica, sans-serif;
  text-shadow: 2px 4px 0 rgba(0, 0, 0, 0.05);
  line-height: 170px;
  color: #27ae60;
}
body .verified .inner p span {
  background: #fff;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: none;
  position: absolute;
  width: 100%;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 200px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 200px;
  -moz-background-clip: padding;
  border-radius: 200px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 0 1px #bcf0d2 inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0 0 1px #bcf0d2 inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 0 1px #bcf0d2 inset, 0 1px 0 3px rgba(0, 0, 0, 0.02);
  left: 0;
  bottom: 5px;
}
